# Copy this file to .env and fill in your values. Never commit .env.
GCP_PROJECT_ID=your-gcp-project-id
BQ_RAW_DATASET=mkt_raw
BQ_LOCATION=US

# ABSOLUTE path to your service account key (used by Python and dbt when run locally)
# macOS/Linux example: /Users/kenza/code/marketing-pipeline/keys/gcp-key.json
# Windows example:     C:/Users/Kenza/code/marketing-pipeline/keys/gcp-key.json
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/marketing-pipeline/keys/gcp-key.json
